body{
  
  background: #656565;
  

}

.Contenedor{
  align-items: center;
  display: row;
  height: 600px;
  height: 40%;
  justify-content: center;

  
}
.Puntos{
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 300px;
  /* background-color: greenyellow; */
  color:  rgb(238, 230, 206);
  font-size: 3rem;
  background: #656565;
  box-shadow: inset 9.91px 9.91px 15px #5C5C5C, inset -9.91px -9.91px 15px #6E6E6E;
  border-radius: 12px;

}

.MenuEquipo{
  align-items: center;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 10px;
  display:flex;
  height: 100px;
  justify-content: center;
  width: 300px;
  /* background-color: khaki; */
  background: #656565;
  box-shadow: inset 9.91px 9.91px 15px #5C5C5C, inset -9.91px -9.91px 15px #6E6E6E;
}

.botonPunto{
  margin-right: 40px;
  padding: 20px;
  /* background: transparent; */
  /* border: 2px solid #0099cc; */
  border-radius: 6px;
  text-transform: uppercase;
  /* background-color: #0099cc; */
  color:  rgb(238, 230, 206);
  font-weight: bold;
  backdrop-filter: blur(7px);
    background-color: rgba(0,191,255, 0.293);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255,255,255,0.4) solid;
    border-bottom: 0px rgba(40,40,40,0.35) solid;
    border-right: 0px rgba(40,40,40,0.35) solid;
}

.botonPunto:active{
  background-color: rgba(29, 248, 0, 0.293);
}

.botonReset{
  padding: 20px;
  /* background: transparent; */
  /* border: 2px solid red; */
  border-radius: 6px;
  text-transform: uppercase;
  /* background-color: red; */
  color:  rgb(238, 230, 206);
  font-weight: bold;
  background-color: rgba(204,0,0, 0.293);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255,255,255,0.4) solid;
    border-bottom: 0px rgba(40,40,40,0.35) solid;
    border-right: 0px rgba(40,40,40,0.35) solid;
}

.botonReset:active{
  background-color: rgba(255, 5, 5, 0.593);
  
  
}

.GlobalReset{
  /* background: transparent;
  border: 2px solid red; */
  border-radius: 12px;
  text-transform: uppercase;
  /* background-color: red; */
  color:  rgb(238, 230, 206);
  font-weight: bold;
  padding: 20px;
  backdrop-filter: blur(7px);
    background-color: rgba(49, 53, 82, 0.293);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255,255,255,0.4) solid;
    border-bottom: 0px rgba(40,40,40,0.35) solid;
    border-right: 0px rgba(40,40,40,0.35) solid;
}

.GlobalReset:active{
  background-color: rgba(49, 53, 82, 0.493);
}

.Puntos:first-child{
  margin-top: 40px;
}

.Jugadores{
  align-items: center;
  display: flex;
  height: 600px;
  height: 40%;
  justify-content: center;
  font-size: 2rem;

}

.Tabla{
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  height: 100px;
  justify-content: center;
  width: 300px;
  /* background-color: greenyellow; */
  color:  rgb(238, 230, 206);
  
  background: #656565;
  box-shadow: inset 9.91px 9.91px 15px #5C5C5C, inset -9.91px -9.91px 15px #6E6E6E;
  border-radius: 12px;
  
}

.Dato{
  margin: 0 auto;
  font-size: 1em;
}

.Equipo1{
  align-items: center;
  padding: 10px;
  height: 20px;
  justify-content: center;
  width: 60px;
  /* background-color: greenyellow; */
  color:  rgb(238, 230, 206);
  backdrop-filter: blur(7px);
  background-color: rgba(214, 9, 241, 0.293);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 0px rgba(255,255,255,0.4) solid;
  border-bottom: 0px rgba(40,40,40,0.35) solid;
  border-right: 0px rgba(40,40,40,0.35) solid;
  border-radius: 12px;
  margin-bottom: 10px;
}

.Equipo2{
  align-items: center;
  
  padding: 10px;
  height: 20px;
  justify-content: center;
  width: 60px;
  /* background-color: greenyellow; */
  color:  rgb(238, 230, 206);
  
  backdrop-filter: blur(7px);
    background-color: rgba(214, 9, 241, 0.293);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255,255,255,0.4) solid;
    border-bottom: 0px rgba(40,40,40,0.35) solid;
    border-right: 0px rgba(40,40,40,0.35) solid;
    border-radius: 12px;
  }

  .numeroJuegos{
    font-size: 2em;
  }